<footer class="footer">
    <div class="container">
  
        <a href="#" class="footer__logo">
            <img src="/assets/img/logo.svg" width="200" height="40" alt="logo">
        </a>
    
        <div class="content-wrapper">
            <ul class="footer__nav-wrapper">
                <li class="footer__nav-col">
                    <strong>Основные ссылки</strong>
                    <ul class="footer__list">
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Доставка</a></li>
                        <li><a href="#">Оплата</a></li>
                    </ul>
                </li>

                <li class="footer__nav-col">
                    <strong>Категории</strong>
                    <ul class="footer__list">
                        <li><a href="#">Мужская одежда</a></li>
                        <li><a href="#">Женская одежда</a></li>
                        <li><a href="#">Детская одежда</a></li>
                        <li><a href="#">Для животных</a></li>
                    </ul>
                </li>

                <li class="footer__nav-col">
                    <strong>Полезные ссылки</strong>
                    <ul class="footer__list">
                        <li><a href="#">Таблица размеров</a></li>
                        <li><a href="#">Блог о моде</a></li>
                        <li><a href="#">Наша миссия</a></li>
                    </ul>
                </li>
            </ul>

            <div class="footer__social">
                <strong>Соц сети</strong>
                <ul>
                    <li><a href="#">VK.com</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">instagram</a></li>
                </ul>
            </div>
        </div>    
   </div>
</footer>