
<header class="header">

   <nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="#">Для мужчин</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Для женщин</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Для детей</a></li>
    </ul>
   </nav>
   <img src="/assets/img/logo.svg" alt="logo">
   <ul class="nav">
    <li class="nav-item"><a class="nav-link" href="#">Оплата</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Доставка</a></li>
 
</ul>
<div class="cart">
    <span class="cart-count">5</span>
</div>
</header>

