.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    background-color: $light;
    max-width: 1110px;
    margin: 0 auto;
    
}

.nav{
    display:flex;
    list-style-type:none;
    padding-left:0;
    &-item{
        margin-left:52px;

    }
    &-link{
        color: $dark;
        text-decoration: none;
        &:hover{
            color:orange;
          
        }
    }
}

.cart{
        background-image: url(/assets/img/cart.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        display:block;
        width:30px;
        height:30px;
        padding-left:45px;

    &-count{
        background-image: url(/assets/img/count.svg);
        background-repeat: no-repeat;
        background-position: 0 center;
        display:block;
        background-color: $accent;
        font-size: 12px;
        font-weight: 700;
        padding:10px 24px;
         
    }
}